* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%
}
body {
  height: 100%;
}
#mainpage {
  width: 100%;
}      

  #map-canvas {
    width: 60%;
    height: 500px;
    float: left;
  }

  #iconMenu {
    float: left;
    width: 39%;
  }

    .imgBtn{
      width: 45%;
    }

  .clear:after {
      content: "";
      clear: both;
      display: block;
  }

#sheep {
  background: url('imgs/sheep.png') no-repeat;
}

#penguin {
  background: url('imgs/penguin.png') no-repeat;
}

#business {
  background: url('imgs/business.png') no-repeat;
}

#fun {
  background: url('imgs/fun.png') no-repeat;
}

#home {
  background: url('imgs/home.png') no-repeat;
}

#money {
  background: url('imgs/money.png') no-repeat;
}

#music {
  background: url('imgs/music.png') no-repeat;
}

#relationship {
  background: url('imgs/relationship.png') no-repeat;
}

#school {
  background: url('imgs/school.png') no-repeat;
}

#vacation {
  background: url('imgs/vacation.png') no-repeat;
}

#work {
  background: url('imgs/work.png') no-repeat;
}

.buttonIcon {
  width: 50px;
  height: 50px;
  padding-top: 20px;
  font-weight: bolder;
}

@media only screen and (min-width: 1025px){
    .ui-page {
        width: 960px !important;
        margin: 0 auto !important;
        position: relative !important;
    }
}

@media only screen and (max-width: 500px){
    .ui-page {
        width: 400px !important;
        margin: 0 auto !important;
        position: relative !important;
    }

    #map-canvas {
      width: 60%;
      height: 300px;
      float: left;
  }
}