.wrapper {
  display: grid;
  grid-column: 1 / -1;
}

header,
section,
footer {
  padding: 2rem 1rem;
}

section {
  display: grid;
}

footer {
  text-align: center;
  background-color: royalblue;
}

footer h5 {
  margin: 0;
}

a {
  color: royalblue;
}

a:hover {
  color: tomato;
}

.highlight {
  font-weight: bold;
}

@media (min-width: 1100px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'intro skills'
      'statements github'
      'inspirational inspirational';
  }
}
